<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <a ui-sref="home">
        <h4>Home</h4>
      </a>
    </div>
    <div class="col-sm-1">
      <h4>/</h4>
    </div>
    <div class="col-sm-2">
      <h4>Categories</h4>
    </div>
    <div class="col-sm-7">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <tbody>
        <tr ng-repeat="category in categories.items">
          <td>
            <a ui-sref="items({categoryShortName: category.short_name})">{{ category.name }}</a>
          </td>
          <td>
            <button class="button btn-primary" ui-sref="items({categoryShortName: category.short_name})">Items</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>