<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <a ui-sref="home">
        <h4>Home</h4>
      </a>
    </div>
    <div class="col-sm-1">
      <h4>/</h4>
    </div>
    <div class="col-sm-2">
      <a ui-sref="categories">
        <h4>Categories</h4>
      </a>
    </div>
    <div class="col-sm-1">
      <h4>/</h4>
    </div>
    <div class="col-sm-2">
      <h4> Items </h4>
    </div>

    <div class="col-sm-4">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>Price, small</th>
        <th>Price, big</th>
      </thead>
      <tbody>
        <tr ng-repeat="item in menuItems.items">
          <td>{{ item.name }}</td>
          <td>{{ item.price_small }}</td>
          <td>{{ item.price_large }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>